body {
    background-color: #f4ecd2;
    font-family: Arial, Helvetica, sans-serif;
    /* stop select any on page */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#app {
    border: 1px solid #aaabbb;
    border-radius: 5px;
}

#app>header,
#app>footer {
    border: 1px solid #aaabbb;
    padding: 10px;
}

#app>footer {
    background-color: #ccc;
}

#app>header {
    background-color: #e7e7e7;
}

/* mobiles */
@media only screen and (max-width: 600px) {
    #wrapper {
        max-width: 442px;
    } 
    button {
        min-width: 10%;
        padding: 0px 5px;
        margin: 5px 5px;
        font-size: 30px;
        border-radius: 5px;
        outline: none;
    }
    #calcScreen {
        /* height: 30px; */
        font-size: 25px;
        padding: 5px;
        background-color: #a6bb00;
        color: #fff;
        border-radius: 5px;
        overflow: hidden;
        font-family: 'Orbitron', sans-serif;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    #wrapper {
        margin: 15px;
        max-width: 442px;
    } 
    
    button {
        min-width: 70px;
        padding: 4px 5px;
        margin: 5px;
        font-size: 25px;
        border-radius: 5px;
        outline: none;
    }
    #calcScreen {
        /* height: 30px; */
        font-size: 25px;
        padding: 5px;
        background-color: #a6bb00;
        color: #fff;
        border-radius: 5px;
        overflow: hidden;
        font-family: 'Orbitron', sans-serif;
        text-align: center;
    }
}

div#calcButtonsOperators {
    /* border: 1px solid #a8a8a8; */
    background: #bfbfbf;
    border-radius: 5px;
}

button {
    background-color: #ddd;
}