button {
    font: 20px 'Arial';
}

#screen {
    height: 35px;
    background-color: #a6bb00;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    padding: 5px;
}

#cover {
    background-color: #ddd;
    width: 70%;
    max-width: 400px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #cover {
        width: 85%;
    }
    #screen {
        height: 35px;
        font-size: 30px;
    }
    button {
        font: 19px 'Arial';
    }
}